body {background-image: url(assets/prude.jpeg);

}

.img-fluid {
    max-width: 100%;
    height: auto ;
}

section img { 
    height: 25%;
    width: 25%;
    margin-right: 1rem;
    margin-bottom: 1rem;

}


.col-6 {
    padding: 2rem;

}
